# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
city_csv = pd.read_csv("../WeatherPy/cities.csv")
city_csv.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,saskylakh,71.92,114.08,-10.92,91,100,7.30,RU,1584253399
1,1,cape town,-33.93,18.42,19.44,72,20,8.20,ZA,1584253140
2,2,ushuaia,-54.80,-68.30,12.00,66,40,2.53,AR,1584253399
3,3,marawi,8.00,124.29,27.78,79,93,3.58,PH,1584253400
4,4,manukan,8.53,123.10,27.51,68,80,7.27,PH,1584253400

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
gmaps.configure(api_key="AIzaSyAjtQgWRjhO5dtnwshZTtee2ZPAeWaUTFc")

In [15]:
coordinates = city_csv[["Lat", "Lng"]]
humidity = city_csv["Humidity"]
gmap = gmaps.figure()
heatlayer = gmaps.heatmap_layer(coordinates, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

gmap.add_layer(heatlayer)

gmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
cities_narrowed = city_csv.dropna()
cities_narrowed.head()
# cities_narrowed.count()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,saskylakh,71.92,114.08,-10.92,91,100,7.30,RU,1584253399
1,1,cape town,-33.93,18.42,19.44,72,20,8.20,ZA,1584253140
2,2,ushuaia,-54.80,-68.30,12.00,66,40,2.53,AR,1584253399
3,3,marawi,8.00,124.29,27.78,79,93,3.58,PH,1584253400
4,4,manukan,8.53,123.10,27.51,68,80,7.27,PH,1584253400

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df = cities_narrowed.copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,saskylakh,71.92,114.08,-10.92,91,100,7.30,RU,1584253399,
1,1,cape town,-33.93,18.42,19.44,72,20,8.20,ZA,1584253140,
2,2,ushuaia,-54.80,-68.30,12.00,66,40,2.53,AR,1584253399,
3,3,marawi,8.00,124.29,27.78,79,93,3.58,PH,1584253400,
4,4,manukan,8.53,123.10,27.51,68,80,7.27,PH,1584253400,

In [29]:
parameters = {
    "radius": 5000,
    "types":"lodging",
    "key": "AIzaSyAjtQgWRjhO5dtnwshZTtee2ZPAeWaUTFc"
}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map